@font-face {
    font-family: 'Amiamie-Regular';
    src: url('src/Font/Amiamie-Regular.woff2') format('woff2'),
         url('src/Font/Amiamie-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amiamie-Italic';
    src: url('src/Font/Amiamie-Italic.woff2') format('woff2'),
         url('src/Font/Amiamie-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Amiamie-Light';
    src: url('src/Font/Amiamie-Light.woff2') format('woff2'),
         url('src/Font/Amiamie-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amiamie-LightItalic';
    src: url('src/Font/Amiamie-LightItalic.woff2') format('woff2'),
         url('src/Font/Amiamie-LightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Amiamie-RegularRound';
    src: url('src/Font/Amiamie-RegularRound.woff2') format('woff2'),
         url('src/Font/Amiamie-RegularRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #14100D; 
    }

html {
    scroll-behavior: smooth;
}

p   {
    font-family: 'Amiamie-Regular',"Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;
    color: #C9C6C6;
    line-height: 150%;  
    }
h1 {
    font-size: 20px;
    color: #7E7875; 
    font-family: 'Amiamie-Light', "Trebuchet MS", Helvetica, sans-serif;
    }

h1.small {
    font-size: 14px;
    font-family: 'Amiamie-Regular', "Trebuchet MS", Helvetica, sans-serif;
    color: #7E7875; 
    margin:0;
}

img {
    max-width: 100%;
    height: auto;
    }

a {
    color: #4B4B4B;
    text-decoration: none;
    }
    
    a:visited {
    text-decoration: none;
    }
    
    a:hover,
    a:active {
    text-decoration: none;
    color: #C9C6C6;

    }
  
a.active-link {
text-decoration: underline;
}

.nav-mobile {
        display:flex;
        flex-direction: column;
        font-family: 'Amiamie-RegularRound', "Trebuchet MS", Helvetica, sans-serif;
        color: #C1B8B3;
        font-size: 44px;
        margin: 0;
        padding-top: 0.8em;
        padding-left: 0.3em;
        line-break: 50px;
    }
 
span.date {
    color:#857B24;
    }


div.about {
    display: flex;
    position: fixed;
    flex-direction: column;
}
   
div.updates{
    display: flex;
    position: fixed;
    flex-direction: column;
}

.updates-content  {
    height: 780px;
    position: relative;
    max-height: 100%;
    overflow: auto;
    clear: left;
    }
.arrow {
    position: absolute;
    }
   
.logo {
    top: 55vh;
    right: 50vh;
    scale: 60%;
    z-index:1;
    position:fixed;
    }

.logo-fade {
    opacity: 1;
    }

.right-one {
    position: absolute;
    top:42%;
    right:0;
    margin-right:30vw;
    width: 200px;
    }

.right-two {
    position: absolute;
    top:55%;
    right:0;
    margin-right: 5vw;
    width: 270px;
    }

.right-three {
    position: absolute;
    top:78%;  
    right:0; 
    margin-right:8vw;
    width: 320px;
    }

div.colophon {
    position:absolute;
    top: 81%;
    left: 0;
    margin-left: 2vw;
}

.contact-style {
    color: #8BE3FF;
    font-family: 'Amiamie-Light', "Trebuchet MS", Helvetica, sans-serif;
    line-height: 50%;
    }


/*desktop, from 769px up*/
@media  (min-width:769px){
    

    .nav-mobile {
        display:none;
    }
    .scroll-up {
        display: none
    }
            .info-container:hover .content {
            display:block;
            color:#C1B8B3;
                }
            .info-container {
            z-index:2;
            }
            .info-container:hover h1 {
            color:#C9C6C6;
            }
            .content {
            display: none;
            }

    div.about {
    margin-left: 1em;
    width: 15em; 
    }

    div.updates {
        margin-left: 18em;
        width: 20em;
    }

    .projects-container {
        position:absolute;
        top: 10vh;
        margin-right: 8vw;
        right:0;
        width: 500px;
        padding-bottom: 20px;
    }
    .contact {
        font-size: 12px;
        top: 79vh;
        left: 2em;
        }

    .logo-fade{
        opacity: 0.15;
        } 
        .arrow {
            font-size: 2.2em;
            position: fixed;
            top: 10vh;
            right: calc(500px + 10vw)
            }

}

/* Mobile and tablet, between 320px and 768px  */
@media  (max-width:768px) {

    .mobile-hide {
        display: none;
    }

    p {
        font-size: 34px;
        color: #C1B8B3;
        line-height: 120%;
        margin-top:10px;
        
    }
    h1, h1.small {
        font-size:20px;
        font-family: 'Amiamie-Regular', "Trebuchet MS", Helvetica, sans-serif;

    }
    .logo {
        top: 0;
        right: 0;
        max-width: 70%;
        z-index:4;
        scale: 70%;
    }
   
    .arrow {
        font-size: 6.2em;
        max-height: 10vh;
       
        
        }
    div.about, div.updates, div.colophon, div.contact, .projects-container, .info-container {
        margin-left: 1em;
        position: relative;
    }

    .projects-container {
        margin-top: 15vh;
    }
    .about-content{
        margin-top: 15vh;
    }
    .updates-content{
        overflow:unset;
        height:auto;
    }
    .go-right {
        display:none;
    }
    a.link-mobile, 
    a.link-mobile:visited {
        color: #C1B8B3;
      }

      a.link-mobile:focus {
        color: #EBE7E7;
      }
      a.link-mobile:hover,
      a.link-mobile:active
       {
        color: #4B4B4B;;
      }
     .contact-style {
        font-size:20px;
        line-height: 100%;
     }
     .mobile-small{
        font-size:20px;
     }

}
    

   
  